<div class="user_message" [ngClass]="{'not_myne_message': !message.mine, 'hidden': message.deleted}">
  <div class="container-fluid">
    <div class="row  text-left vertical-alighn" [ngClass]="{'reversed': !message.mine}">
      <div class="profile-default profile-48 img-circle profile-default-text" *ngIf="message.user.avatar.type === 'letters'">
        <span class="text" [innerHtml]="message.user.avatar.value"></span>
      </div>
      <img class="img-circle profile-48" *ngIf="message.user.avatar.type === 'ee'" src="{{message.user.avatar}}">
      <h4 class="sender_name" [innerHtml]="message.user.name"></h4>
      <span class="text-secondary" [innerHtml]="message.sent_at | lastMessage"></span>
    </div>
  </div>
  <div class="message_wrapp">
    <div class="reply_inside_message_block" *ngIf="message.reply_to" [ngClass]="{'reply_not_myne': !message.mine}">
      <h4 class="no-margin" [innerHtml]="message.reply_to.sender_name"></h4>
      <p class="reply_message_text" [innerHtml]="message.reply_to.body"></p>
    </div>
    <h4 class="no-margin" *ngIf="message.forward_from" [innerHtml]="'Forwarded from ' + message.forward_from.sender_name"></h4>
    <p class="message" [innerHtml]="message.body"></p>
      <a class="media_wrapp text-center" *ngIf="message.media" [ngStyle]="{'height': setMediaImageHeight(message.media[0].sources.reference.height)}" [href]="message.media[0].sources.reference.url" target="_blank">
        <img [src]="message.media[0].sources.reference.url" alt="" class="media_image">
      </a>
    <div class="message_menu_wrapp">
      <div class="btn-group" [ngClass]="{'pull-right': message.mine, 'dropup': dropup}">
        <button data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="true" class="btn btn-xs btn-link btn-default " [ngClass]="{'btn-white': message.mine, 'dropdown-toggle': !message.mine}">
          <svg class="icon icon-16"><use xlink:href="#icon-arrow-down-small-16"></use></svg>
        </button>
        <div class="dropdown-menu">
          <ul (click)="clickHandle($event)">
            <li role="menuitem" *ngIf="message.mine"><a class="dropdown-item" [attr.data-action]="'delete'">Delete</a></li>
            <li role="menuitem" *ngIf="message.mine"><a class="dropdown-item" [attr.data-action]="'edit'">Edit</a></li>
            <li role="menuitem"><a class="dropdown-item" [attr.data-action]="'reply'">Reply</a></li>
            <li role="menuitem"><a class="dropdown-item" [attr.data-action]="'copy'">Copy</a></li>
            <li role="menuitem"><a class="dropdown-item" [attr.data-action]="'forward'">Forward to</a></li>
          </ul>
        </div>
      </div>
      <div class="btn btn-xs btn-link btn-default" *ngIf="message.mine" [ngClass]="{'btn-white': message.mine, 'dropdown-toggle': !message.mine}">
        <svg class="icon icon-16" *ngIf="!message.read"><use xlink:href="#icon-msgr-checkbox-double"></use></svg>
        <svg class="icon icon-16" *ngIf="message.read"><use xlink:href="#icon-msgr-checkbox"></use></svg>
      </div>
    </div>
    <div class="text-secondary" [ngClass]="{'text-right': !message.mine, 'hidden': !message.edited}">Edited</div>
  </div>
</div>
