<div class="text-side">
  <h1 class="text-bold">All Communication.<br> For your internal team.</h1>
  <p class="text-secondary subheading">Create groups of customers based on their location,
    language, behavior or product preferences and stay relevantly tuned
    for each one through any communication chanel</p>
  <button type="button" class="btn btn-xl btn-start">Start now</button>
</div>
<div class="image_wrapper">
  <img class="image" src="../../../../../assets/images/hero_marketing.png" alt="Image">
</div>
