<div class="apps_container" [ngClass]="{'show_apps': showApps}">
  <div class="img_wrapp text-center">
    <img class="icon-app-md" alt="Orders" src="~@pe/ui-kit/icons-apps/transactions.png">
    <span class="app_name">Orders</span>
  </div>
  <div class="img_wrapp text-center">
    <img class="icon-app-md" alt="Offers" src="~@pe/ui-kit/icons-png/icon-offers-logo-64.png">
    <span class="app_name">Offers</span>
  </div>
  <div class="img_wrapp text-center">
    <img class="icon-app-md" alt="Checkout" src="~@pe/ui-kit/icons-db/icon-shop-colored-128.png">
    <span class="app_name">Checkout</span>
  </div>
  <div class="img_wrapp text-center">
    <img class="icon-app-md" alt="Customers" src="~@pe/ui-kit/icons-apps/contacts_app.png">
    <span class="app_name">Customers</span>
  </div>
</div>
